body, html {
    margin: 0;
    font-family: "Lato", sans-serif;
  }


@font-face {
  font-family: "Lato-Bold";
  src: url('../src/styles/fonts/Lato-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url('../src/styles/fonts/Lato-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url('../src/styles/fonts/Lato-Black.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}